* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html,
.wrap,
#app {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex: 1;
    overflow: auto;
}

main ul {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}